.mySwiper {
    width: 100%;
    height: 100vh; /* Asegúrate de que cubra toda la altura de la ventana */
  }
  
  .slide {
    background-size: cover; /* Hace que la imagen de fondo cubra todo el slide */
    background-position: center; /* Centra la imagen */
    width: 100%;
    height: 100%; /* Asegúrate de que el slide ocupe todo el espacio */
  }
  